<html>
    <head>
    	<title>
    		{{ title }}
    	</title>
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
    </head>
    <body style= 'background-color:#f1f5f8 ;'>
    <div class="ui inverted violet large attached menu">
  <div class="header item" style="color:white;"> Cloud Blockchain Security</div>
<div class="right menu">
          <a class="ui item" style="color:white;">
            Instructions
          </a>
          <a class="ui item" style="color:white;">
            About
          </a>
        </div>
</div>

</br>
</br>
    	{% with messages = get_flashed_messages() %}
    		{% if messages %}
    			<ul>
    			{% for message in messages %}
    				<li>{{ message }} helo</li>
    			{% endfor %}
    			</ul>
    		{% endif %}
    	{% endwith %}
    	{% block content %}{% endblock %}
    </body>
</html>
